.login_form_background {
    width: 636px;
    height: 481px;

    background: rgba(233, 244, 249, 0.7);
    border: 10px solid rgba(170, 198, 210, 0.7);
    border-radius: 20px;
}

.font_32 {
    width: 100px;
    height: 60px;

    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #247AA0;
}

.input_box {
    width: 416px;
    height: 60px;

    background: #FFFFFF;
    border: 5px solid #AAC6D2;
    border-radius: 10px;
}

.divider {
    width: 516px;
    height: 0px;

    border: 5px solid #BED4DF;
}

.login_signup_btn {
    width: 196px;
    height: 60px;

    background: #66CBE9;
    border-radius: 10px;
}
